language: php
before_install:
  - composer install --dev
  - export DISPLAY=:99
  - sh -e /etc/init.d/xvfb start
  - wget http://selenium.googlecode.com/files/selenium-server-standalone-2.25.0.jar
  - DISPLAY=:99 java -jar selenium-server-standalone-2.25.0.jar &> /dev/null &
script:
  - vendor/bin/phpunit tests/

