<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <filter>
        <whitelist>
            <directory suffix=".php">./src/WeaselUnit</directory>
            <exclude>
                <directory suffix="Interface.php">./src/WeaselUnit</directory>
                <directory suffix=".php">./src/WeaselUnit/Selenium</directory>
                <file>./src/Guzzle/Service/Exception/JsonException.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
